@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0px;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: white;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  background-color: #c0dfc2;
  color: white;
  font-size: 42px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 20px 0;
}

.wrapper__container {
  position: relative;
}

[class*="__container"] {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

#game-board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (var(--cell-size))[var];
      grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  -ms-grid-rows: (var(--cell-size))[var];
      grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #4b6154;
  border-radius: 10px;
  gap: var(--grid-gap);
  padding: var(--grid-gap);
  position: relative;
  -webkit-box-shadow: 0px 17px 38px -12px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 17px 38px -12px rgba(0, 0, 0, 0.4);
}

.game-over {
  position: absolute;
  width: 94.233%;
  height: 100%;
  left: 15px;
  border-radius: 9px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c0dfc2ab;
  -webkit-transition: 1s  ease-in;
  transition: 1s  ease-in;
  opacity: 0;
  visibility: hidden;
}

.game-over P {
  font-size: 60px;
  padding-bottom: 100px;
  color: #000;
  -webkit-transform: translateY(-70px) scale(0.4);
          transform: translateY(-70px) scale(0.4);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.game-over button {
  margin-top: 20px;
  position: relative;
  font-size: 30px;
  background-color: #bef3be;
  padding: 10px;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  -webkit-transform: translateY(-40px) scale(0.2);
          transform: translateY(-40px) scale(0.2);
  -webkit-transition: margin-top 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.game-over.over {
  opacity: 1;
  visibility: visible;
}

.game-over.over p {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

.game-over.over button {
  -webkit-transform: translateY(0px) scale(1);
          transform: translateY(0px) scale(1);
}

.cell {
  background-color: #618f74;
  border-radius: 5px;
}

.tile {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 5px;
  top: calc(var(--x) * (var(--cell-size) + var(--grid-gap)) + var(--grid-gap));
  left: calc(var(--y) * (var(--cell-size) + var(--grid-gap)) + var(--grid-gap));
  color: hsl(112, 25%, var(--text-lightness));
  background-color: hsl(112, 50%, var(--background-lightness));
  -webkit-animation: show 200ms ease-in-out;
          animation: show 200ms ease-in-out;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

@-webkit-keyframes show {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes show {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.about {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #4b6154;
  text-align: justify;
  max-width: 800px;
  padding: 50px 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__name {
  font-size: 30px;
  padding: 0 10px;
  padding-bottom: 30px;
}

.about__text {
  max-width: 80%;
  font-size: 20px;
  line-height: 135%;
  font-weight: 400;
}

.about__text span {
  padding-bottom: 40px;
}

.up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 35px;
}

.up__score-body {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.up__score {
  padding: 10px 50px;
  border-radius: 6px;
  background-color: #4b6154;
  color: #c0dfc2;
}

.new-game__body {
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 6px;
  background-color: #4b6154;
  color: #c0dfc2;
}

.open-button {
  display: none;
}

.open-button__text {
  font-size: 30px;
  color: #c0dfc2;
  margin-top: 50px;
  background-color: #4b6154;
  padding: 10px 30px;
  border-radius: 7px;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .open-button {
    display: block;
  }
  .about {
    opacity: 0;
    max-height: 0;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  .about.open {
    opacity: 1;
    visibility: visible;
  }
  body.lock {
    overflow: initial;
  }
  .up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .up__score-body {
    margin: 20px 0 0px 0;
  }
}

@media (max-width: 510px) {
  #game-board {
    font-size: 26px;
  }
}

@media (max-width: 425px) {
  #game-board {
    font-size: 24px;
  }
  .up {
    font-size: 20px;
  }
  .new-game {
    font-size: 25px;
  }
  .game-over p {
    font-size: 35px;
  }
  .game-over button {
    font-size: 25px;
  }
  .about__name {
    font-size: 20px;
    padding: 0 10px;
    padding-bottom: 20px;
  }
  .about__text {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  #game-board {
    font-size: 20px;
  }
}
